*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}

a{
    text-decoration: none;
}

.flex-item{
    background-color: red;
    padding: 20px;
    margin: 15px;
    width: 80px;
    height: 80px;
}
.flex-container{
    display: flex;
    justify-content: space-between;
}
.inner-div{
    display: flex;
}
/* STYLES FOR FLEXBOX MQ TEST */
.header{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    padding: 1em;
    align-items: center;
    min-width: 300px;
}
.navbar{
    position: fixed;
    background-color: black;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 0;
    transition: transform 250ms ease-in-out;
    transform: translateX(100%);
    z-index: 100%; 
}

.toggle{
    padding: 0.5em;
    cursor: pointer;
    background-color:transparent;
    border: none;
    /* position: absolute;
    right: 1em;
    right: 1em; */
}
.harmbugger{
    display: block;
    position: relative;
}

.harmbugger, .harmbugger::before, .harmbugger::after{
   display: block;
   background-color: black; 
   width: 2em;
   height: 3px;
   border: 1em;
   transition: transform 250ms ease-in-out;
   right: 1em;
}
.harmbugger::before, .harmbugger::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
}

.harmbugger::before{
    top: 6px;
}

.harmbugger::after{
    bottom: 6px;
}
.nav-item>a{
    text-decoration: none;
    color: aqua;
}
nav-list>.nav-item{
    color: blue;
    padding: 1em;
    margin: 1em;
}
/* media quarre */
@media(min-width:782px){
    .navbar{
        transform: translateX(0);
        background-color: transparent;
        position: static;
    }
    .nav-item{
        text-align: center;
    }
    .nav-item>a{
        color: black;
        padding: 10px;
    }
    .nav-list{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .harmbugger, .harmbugger::before, .harmbugger::after{
        display: none;
    }
    
}