.header{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    min-width: 300px;
    background-color: blue;
    height: 40px;
}
.menu{
    position: fixed;
    background-color: black;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 0;
    transition: transform 250ms ease-in-out;
    transform: translateX(100%);
    z-index: 100; 
}
a{
    text-decoration: none;
    color: aliceblue;
}
.toggle{
    padding: 0.5em;
    cursor: pointer;
    background-color:transparent;
    border: none;
    /* position: absolute;
    right: 1em;
    right: 1em; */
}
.harmbugger{
    display: block;
    position: relative;
}

.harmbugger, .harmbugger::before, .harmbugger::after{
   display: block;
   background-color: black; 
   width: 2em;
   height: 3px;
   border: 1em;
   transition: transform 250ms ease-in-out;
   right: 1em;
}
.harmbugger::before, .harmbugger::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
}

.harmbugger::before{
    top: 6px;
}

.harmbugger::after{
    bottom: 6px;
}
.navitem>a{
    text-decoration: none;
    color: aqua;
}
.navlist>.navitem{
    color: blue;
    padding: 5px    ;
    margin: 10px;
}
.total{
    margin: 30px 20px 20px;
    display: grid;
    grid-template-areas: "heading heading" "side-bar content";
    grid-template-columns: 1fr 3fr;
    gap: 5px;
    background-color: rgb(73, 67, 67);
    padding: 5px;
    color: white;
    margin: 0;
}
.mike{
    background-color: rgb(48, 45, 45);
    padding: 10px;
}
.mike-1{
    background-color:blue;
    padding: 10px;
}
.total>header.heading{
    grid-area: heading;
    text-align: center;
}
.total>div.sidebar{
    grid-area: side-bar;
}
.total>section.content{
    grid-area: content;
}
/* media quarre */
@media(min-width:782px){
    .menu{
        transform: translateX(0);
        background-color: transparent;
        position: static;
    }
    .navitem{
        text-align: center;
    }
    .navitem>a{
        color: black;
        padding: 5px;
    }
    .navlist{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .harmbugger, .harmbugger::before, .harmbugger::after{
        display: none;
    }
    
}